<strong>Olá, {{ deliveryName }}</strong>
<p>Voce tem uma nova encomenda</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ address }} - {{number}} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>CEP: </strong> {{ zipCode }} <br />
  <br />
  <small>
    Para mais informações.
  </small>
</p>